{% extends 'base.html' %}
<!-- {% from "pagination.html" import pagination %} -->

{% block content %}

<h1>Статистика посещений по разделам сайта</h1>
<table class="table">
    <thead>
        <tr>
            <th>№</th>
            <th>Путь до страницы</th>
            <th>Количество посещений</th>
        </tr>
    </thead>
    <tbody>
        {% for stat in stats %}
        <tr>
            <td>{{loop.index}}</td>
            <td>{{stat.path}}</td>
            <td>{{stat.count}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a class="btn btn-primary" href="{{ url_for('visits.stat', download_csv=True) }}">Экспорт в CSV</a>


{% endblock %}