{% extends 'base.html' %}

{% block content %}
<h1 class="mt-5 text-center">Об авторе</h1>
<div class="row">
    <div class="col-md-4 mb-3">
        <img class="avatar" src="{{ url_for('static', filename='images/avatar.jpg') }}" alt="Author">
    </div>
    <div class="col-md-8 text-justify d-flex align-items-center">
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea nemo illo natus 
            inventore. Distinctio eius consectetur similique molestias. Molestiae esse maiores 
            enim velit quisquam, omnis libero quam ducimus ea tempore.

            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem, ab? 
            Earum cum dolorum ipsum voluptatum quis voluptatibus ea veritatis assumenda aliquid 
            dolores quas, distinctio laboriosam, omnis ratione est tempora nisi.
        </p>
    </div>
</div>
{% endblock %}