{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="my-5">Задание к лабораторной работе</h1>
        
        <p class="fw-bold">
            1. Доработайте прилагаемое к заданию веб-приложение, добавив в него 
            шаблон post.html, отображающий содержимое поста.
        </p>

        <p>На странице должны присутствовать следующие элементы:</p>

        <ul class="my-3">
            <li>заголовок поста,</li>
            <li>имя автора,</li>
            <li>дата публикации,</li>
            <li>изображение,</li>
            <li>текст поста,</li>
            <li>форма «Оставьте комментарий» с полем для ввода текста и кнопкой «Отправить»,</li>
            <li>комментарии и ответы на них.</li>
        </ul>

        <p>Все данные должны подставляться в шаблон из приложения.</p>

        <p>
            <a href="https://www.tutorialrepublic.com/twitter-bootstrap-tutorial/bootstrap-media-objects.php" target="_blank">Пример</a> того, как можно сделать отображение комментариев.
        </p>
        
        <p>Пример возможного оформления страницы:</p>

        <img class="img-fluid my-3 border" src="{{ url_for('static', filename='images/post-example-page.png') }}" alt="Post page example">

        <p class="fw-bold">
            2. Добавьте в базовый шаблон подвал (англ. footer) сайта. Укажите там ФИО и номер группы.
        </p>

        <p>
            Выложите ваше веб-приложение на хостинг. В качестве ответа на соответствующее этой лабораторной работе задание в LMS 
            вам нужно указать ссылку на репозиторий с вашим решением и ссылку на ваше приложение на хостинге. В 
            случае, если репозиторий закрытый, -- не забудьте предоставить преподавателю доступ.
        </p>
    </div>
</div>
{% endblock %}