{% extends 'base.html' %}

{% block content %}
<h1 class="px-5 py-2">Изменение пароля</h1>
<div class="px-5">
    <form action="{{url}}" method="post">
        <div class="row mb-3">
            <label for="oldPassword" class="col-sm-2 col-form-label">Старый пароль</label>
            <div class="col-sm-10">
                <input type="password" class="form-control {% if errors.oldPassword %}is-invalid{% endif %}" id="oldPassword" name="oldPassword"
                    value="{{ passwords.oldPassword or '' }}">
                {% if errors.oldPassword %}
                <div class="invalid-feedback">
                    {{ errors.oldPassword }}
                </div>
                {% endif %}
            </div>
        </div>
        <div class="row mb-3">
            <label for="newPassword" class="col-sm-2 col-form-label">Новый пароль</label>
            <div class="col-sm-10">
                <input type="password" class="form-control {% if errors.newPassword %}is-invalid{% endif %}" id="newPassword" name="newPassword"
                    value="{{ passwords.newPassword or '' }}">
                {% if errors.newPassword %}
                <div class="invalid-feedback">
                    {{ errors.newPassword }}
                </div>
                {% endif %}
            </div>
        </div>
        <div class="row mb-3">
            <label for="newPassword1" class="col-sm-2 col-form-label">Повторите новый пароль</label>
            <div class="col-sm-10">
                <input type="password" class="form-control {% if errors.newPassword1 %}is-invalid{% endif %}" id="newPassword1" name="newPassword1"
                    value="{{ passwords.newPassword1 or '' }}">
                {% if errors.newPassword1 %}
                <div class="invalid-feedback">
                    {{ errors.newPassword1 }}
                </div>
                {% endif %}
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Сохранить
        </button>
    </form>
</div>
{% endblock %}